!Xft settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

*loginShell: true

URxvt*locale: true
UXTerm*locale: true

! Font
URxvt*font: xft:Monospace:size=11
UXTerm*font: xft:Monospace:size=11
UXTerm*faceName: Monospace
UXTerm*faceSize: 11

URxvt*boldMode: false
UXTerm*boldMode: false
UXTerm*allowBoldFonts: false
URxvt*boldFont: xft:Monospace:size=11
UXTerm*boldFont: Monospace

! URxvt General
URxvt*depth: 32
URxvt*intensityStyles: true
URxvt*scrollBar: false
URxvt*jumpScroll: true
URxvt*skipScroll: true
URxvt*transparent: false
URxvt*letterSpace: 0
URxvt*internalBorder: 6
URxvt*saveLines: 4095
URxvt*perl-ext-common: default,clipboard,matcher
URxvt*cursorBlink: 1
URxvt*termName: rxvt-unicode-256color
URxvt*matcher.button: 1
URxvt*url-launcher: firefox
URxvt*underlineURLs: true
URxvt*url-select.underline: true
URxvt*urgentOnBell : false
URxvt*visualBell : false
URxvt*buffered : false

! UXTerm General
UXTerm*intensityStyles: true
UXTerm*scrollBar: false
UXTerm*jumpScroll: true
UXTerm*skipScroll: true
UXTerm*letterSpace: 0
UXTerm*internalBorder: 6
UXTerm*saveLines: 4095
UXTerm*perl-ext-common: default,clipboard,matcher
UXTerm*cursorBlink: 1
UXTerm*termName: xterm-256color
UXTerm*matcher.button: 1
UXTerm*url-launcher: firefox
UXTerm*underlineURLs: true
UXTerm*url-select.underline: true
UXTerm*urgentOnBell : false
UXTerm*visualBell : false
UXTerm*buffered : false

! Theme
*background:  #303030
*foreground:  #d7d7d7
*cursorColor: #87afd7
*color0:      #303030
*color8:      #303030
*color1:      #ff5f5f
*color9:      #ff5f5f
*color2:      #afd787
*color10:     #afd787
*color3:      #d7d7af
*color11:     #d7d7af
*color4:      #87d7ff
*color12:     #87d7ff
*color5:      #d7afd7
*color13:     #d7afd7
*color6:      #87d7af
*color14:     #87d7af
*color7:      #d7d7d7
*color15:     #d7d7d7

! *background: #1D1F21
! *foreground: #C5C8C6
! *color0: #282A2E
! *color8: #373B41
! *color1: #A54242
! *color9: #CC6666
! *color2: #8C9440
! *color10: #B5BD68
! *color3: #DE935F
! *color11: #F0C674
! *color4: #5F819D
! *color12: #81A2BE
! *color13: #B294BB
! *color6: #5E8D87
! *color14: #8ABEB7
! *color7: #707880
! *color15: #C5C8C6

! Man
*colorIT: #87af5f
*colorBD: #d7d7d7
*colorUL: #87afd7

! Bindings
*keysym.Shift-Control-V: perl:clipboard:paste
*keysym.Shift-Control-C: perl:clipboard:copy
*iso14755: False

*VT100.Translations: #override \
        Shift <Key>Up: scroll-back(1) \n\
        Shift <Key>Down: scroll-forw(1) \n\
        ~Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
        Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
        ~Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER0) \n\
        Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
        ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER0) \n\
        Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)
