!Xft settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

*loginShell: true

UXTerm*locale: true

! Font
UXTerm*font: xft:Monospace:size=10.8
UXTerm*faceName: Monospace
UXTerm*faceSize: 10.8

UXTerm*boldMode: false
UXTerm*allowBoldFonts: false
UXTerm*boldFont: Monospace

! UXTerm General
UXTerm*intensityStyles: true
UXTerm*scrollBar: false
UXTerm*jumpScroll: true
UXTerm*skipScroll: true
UXTerm*letterSpace: 0
UXTerm*internalBorder: 6
UXTerm*saveLines: 10000
UXTerm*perl-ext-common: default,clipboard,matcher
UXTerm*cursorBlink: 1
UXTerm*termName: xterm-256color
UXTerm*matcher.button: 1
UXTerm*urgentOnBell : false
UXTerm*visualBell : false
UXTerm*buffered : false
UXTerm*selectToClipboard: true

! Theme
*background:  #303030
*foreground:  #D7D7D7
*cursorColor: #87AFD7
*color0:      #303030
*color8:      #474747
*color1:      #FF5F5F
*color9:      #FF6C5C
*color2:      #AFD787
*color10:     #8FB676
*color3:      #D7D7AF
*color11:     #C8BC45
*color4:      #87D7FF
*color12:     #D0D0FF
*color5:      #C7AFD7
*color13:     #A761C2
*color6:      #65B58D
*color14:     #6E98A4
*color7:      #D7D7D7
*color15:     #C2C2C2

! Man
*colorIT: #AFD787
*colorBD: #FF5F5F
*colorUL: #87D7FF

! Bindings
*keysym.Shift-Control-V: perl:clipboard:paste
*keysym.Shift-Control-C: perl:clipboard:copy
*iso14755: False

UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

*VT100.Translations: #override
    Shift <Btn1Down>: select-start()
    Shift <Btn1Motion>:     select-extend()
    Shift <Btn1Up>: select-end(CLIPBOARD)
    Shift <Btn2Up>: insert-selection(CLIPBOARD)
    Shift <Btn3Down>: start-extend()
    Shift <Btn3Motion>: select-extend()
    Shift <BtnUp>: select-end(CLIPBOARD)
