!Xft settings
Xft.autohint: 0
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

*loginShell: true

URxvt*locale: true
UXTerm*locale: true

! Font
URxvt*font: xft:Monospace:size=11
UXTerm*font: xft:Monospace:size=11
UXTerm*faceName: Monospace
UXTerm*faceSize: 11

URxvt*boldMode: false
UXTerm*boldMode: false
UXTerm*allowBoldFonts: false
URxvt*boldFont: xft:Monospace:size=11
UXTerm*boldFont: Monospace

! URxvt General
URxvt*depth: 32
URxvt*intensityStyles: true
URxvt*scrollBar: false
URxvt*jumpScroll: true
URxvt*skipScroll: true
URxvt*transparent: false
URxvt*letterSpace: 0
URxvt*internalBorder: 6
URxvt*saveLines: 4095
URxvt*perl-ext-common: default,clipboard,matcher
URxvt*cursorBlink: 1
URxvt*termName: rxvt-unicode-256color
URxvt*matcher.button: 1
URxvt*url-launcher: firefox
URxvt*underlineURLs: true
URxvt*url-select.underline: true
URxvt*urgentOnBell : false
URxvt*visualBell : false
URxvt*buffered : false

! UXTerm General
UXTerm*intensityStyles: true
UXTerm*scrollBar: false
UXTerm*jumpScroll: true
UXTerm*skipScroll: true
UXTerm*letterSpace: 0
UXTerm*internalBorder: 6
UXTerm*saveLines: 4095
UXTerm*perl-ext-common: default,clipboard,matcher
UXTerm*cursorBlink: 1
UXTerm*termName: xterm-256color
UXTerm*matcher.button: 1
UXTerm*url-launcher: firefox
UXTerm*underlineURLs: true
UXTerm*url-select.underline: true
UXTerm*urgentOnBell : false
UXTerm*visualBell : false
UXTerm*buffered : false

! Theme
*cursorColor: #72757b

*background: #1D1F21
*foreground: #C5C8C6

! Black
*color0: #282A2E
*color8: #373B41

! Red
*color1: #A54242
*color9: #CC6666

! Green
*color2: #8C9440
*color10: #B5BD68

! Yellow
*color3: #DE935F
*color11: #F0C674

! Blue
*color4: #5F819D
*color12: #81A2BE

! Magenta
*color5: #85678F
*color13: #B294BB

! Cyan
*color6: #5E8D87
*color14: #8ABEB7

! White
*color7: #707880
*color15: #C5C8C6

! Man
*colorIT: #87af5f
*colorBD: #d7d7d7
*colorUL: #87afd7

! Bindings
*keysym.Shift-Control-V: perl:clipboard:paste
*keysym.Shift-Control-C: perl:clipboard:copy
*iso14755: False

*VT100.Translations: #override \
        Shift <Key>Up: scroll-back(1) \n\
        Shift <Key>Down: scroll-forw(1) \n\
        ~Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
        Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
        ~Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER0) \n\
        Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
        ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER0) \n\
        Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)
